@{
    ViewData["Title"] = "Meters Page";
}

<div class="text-center">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Meters</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-md btn-outline-primary">Add New Meter </button>
                <!-- <button class="btn btn-sm btn-outline-secondary">Export</button> -->
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>POS</th>
                    <th>PDR</th>
                    <th>Serial Number</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Corrected Volume</th>
                    <th>Status</th>
                    <th>Last Reading</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>SMQU034A00000010</td>
                    <td>Power meter-Shitek</td>
                    <td>Default Address</td>
                    <td>0</td>
                    <td>0</td>
                    <td>OK</td>
                    <td>06/05/2022-11:04:07</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>SMQU034A00000010</td>
                    <td>Power meter-Shitek</td>
                    <td>Default Address</td>
                    <td>0</td>
                    <td>0</td>
                    <td>OK</td>
                    <td>06/05/2022-11:04:07</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
